
<div class="row">
    <div class="col-md-4">
        <form action="" [formGroup]="addvehicleForm" (ngSubmit)="newvehicle()">

            <div class="form-group">
                <label for="" class="form-label">Vehicle Id</label>
                <input type="text" class="form-control" formControlName="vehicleId">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Vehicle Name</label>
                <input type="text" class="form-control" formControlName="vehicleName">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Vehicle Company</label>
                <input type="text" class="form-control" formControlName="vehicleCompany">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Vehicle Description</label>
                <input type="text" class="form-control" formControlName="vehicleDescription">
             </div>
            <div class="form-group">
                <label for="" class="form-label">Image</label>
                <input type="text" class="form-control" formControlName="vehicleImage">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Price</label>
                <input type="text" class="form-control" formControlName="vehiclePrice">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Vehicle Type</label>
                    <select name="" id="" formControlName="vehicleType" class="form-select">
                        <option *ngFor="let opt of options" [value]="opt">{{opt}}</option>
                    </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" >Add Vehicle</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>